h3@import url(https://db.onlinewebfonts.com/c/e5f78b4fb90a80a32be156470cbfead1?family=Avenir+LT+Pro+35+Light);

html,
body {
    background-color: #f8f9fa;
    /*margin: 5vw;
    margin-top: 2vw;*/
    color: rgb(3, 16, 115);
   /*font-family: "Avenir LT Pro 35 Light", sans-serif;*/
}

.div,
.data,
.card-text {
    font-family: "Avenir LT Pro 35 Light", sans-serif;
}

h3.center {
    font-weight: 600;
}

#about,
.content,
.navbar,
.fs-3,
#mydata {
    font-size: 1.2rem;
    line-height: 1.5em;
    letter-spacing: 1.2px;
    font-family: "Avenir LT Pro 35 Light", sans-serif;
    color: rgb(3, 16, 115);
}

#intro {
    margin-top: 5em;
    background-image: url('foto/technology.jpg');
    background-size: cover;
    background-position: center;
    height: 35em;
    width: 100%;
    padding-top: 8em;
    opacity: 0;
    transition: opacity 2s ease-in;
}

#mycard {
    width: 50em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background-color: transparent;
    opacity: 0.5;
    transition: opacity 2s ease-in, background-color 2s ease-in;
    z-index: 1;
}

#mydata {
    margin-right: 8em;
    opacity: 0.5;
    transform: translateX(100px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

#myfoto {
    flex-shrink: 0;
    width: 265px;
    height: auto;
    margin-right: 2px;
    opacity: 0.5;
    transform: translateX(-100px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

#mycard.visible {
    opacity: 1;
    background-color: white;
}

#intro.visible {
    opacity: 1;
}

#myfoto.visible,
#mydata.visible {
    opacity: 1;
    transform: translateX(0);
}

#name {
    font-weight: 400;
}

.title {
    font-size: 0.8em;
    font-weight: 600;
}

.icons {
    width: 50em;
    height: 4em;
    background-color: rgb(3, 32, 95) !important;
    margin: auto;
    text-align: center;
}

img.icon {
    margin: 0.2em 2em;
    align-items: center;
    justify-content: center;
    width: 1.5em;
}

img.contact {
    width: 2em;
}

#github {
    width: 4em;
    height: auto;
}

#about,
#experience,
#education,
#trainings,
#lang,
#soft {
    padding-top: 4em;
   /* margin: 2vw 2vw;*/
}

#about {
    display: flex row;
    justify-content: center;
    align-items: center;
    margin: 2vw 8vw;
}

.center {
    text-align: center;
    padding-bottom: 1em;
}


/* TO JEST TESTOWY KOD DO VERTICAL LINE */
.vertical-line {
    margin-left: 30vw;
    margin-top: 2em;
    width: 2px;
    height: 400px;
    background-color: rgb(3, 16, 115);
    transition: height 2s ease-in-out;
}

.timeline {
    font-size: 0.9em;
    z-index: 1;
}

.event {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-basis: calc(30% - 1em);
    clear: both;
}

.column {
    margin: 1.5em;
}

.date {
    text-align: right;
    width: 30em;
    transform: translateX(-100px);
    transition: transform 2s ease-in-out;
}

.description {
    width: 33em;
    transform: translateX(100px);
    transition: transform 2s ease-in-out;
    position: relative;
    z-index: 3;
}

.date.visible,
.description.visible {
    transform: translateX(0);
    position: relative;
    z-index: 3;
}

.des {
    margin: 0;
    margin-block: 0;
    font-size: 0.8em;
}

.bold {
    font-weight: 600;
    z-index: 3;
}

.dot {
    width: 0.4em;
    height: 0.4em;
    background-color: rgb(3, 16, 115);
    border-radius: 50%;
    margin-right: 2em;
    margin-top: 1.7em;
    position: relative;
    top: 0.25em;
}

.technical {
    color: white;
    margin-top: 8em;
    z-index: 2;
    width: 100%;
    height: 4em;
    background-color: rgb(3, 32, 95) !important;
    padding-top: 0.8em;
    text-align: center;
}

#tech {
    margin-top: 0.2em;
    background-image: url('foto/tech-skills.png');
    background-size: cover;
    background-position: center;
    height: content-height;
    width: 100%;
}

.tech-stack {
    background-color: rgba(3, 32, 95, 0.8);
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    z-index: 1;
}

.stack {
    min-width: 13em;
    margin: 1.5em 3em;
    max-height: 3.3em;
    padding: 1em 2em;
    color: white;
    background-color: rgba(255, 255, 255, 0.19);
    z-index: 2;
    font-size: 1em;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    transition: transform 1s ease-in-out;
}
/*
.stack {
    min-width: 12em;
    margin: 1.5em 3em;
    max-height: 4em;
    padding: 1em 2em;
    color: white;
    background-color: rgba(255, 255, 255, 0.19);
    z-index: 2;
    font-size: 1.2em;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    transition: transform 1s ease-in-out;
}
*/
.stack.visible {
    transform: scale(1.2);
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.skills-list {
    column-count: 2;
    column-width: 16em;
    column-gap: 10em;
    line-height: 2.5em;
    align-content: space-between;
}

.item {
    transition: transform 1s ease-in-out;
    transform: translateY(10em);
}

.item.visible {
    transform: translateY(0em);
}

.top {
    margin-top: 7em !important;
}

img.hobby {
    max-width: 560px;
    max-height: 100%;
    align-self: center;
    /*border-style: groove;*/
    box-shadow: 0 0 5px 3px lightslategrey;
    margin-top: 4%;
    margin: 1% 0 3% 4%;
    display: inline-flex;
    float: right;
    clear: both;
}

.zoomDiv {
    max-width: 560px;
    max-height: content-height;
    overflow: hidden;
    padding: 0;
    display: inline-flex;
    position: relative;
    float: left;
    box-shadow: 0 0 5px 3px lightslategrey;
    box-sizing: border-box;
    transition: box-shadow 1s ease;
}

.zoomDiv:hover {
    box-shadow: 0px 0px 5px 3px lightslategrey,
                5px 5px 20px rgba(0, 0, 0, 0.7);
}

div.left {
    float: left;
    margin: 2% 4% 2% 0%;
}

div.right {
    float: right;
    margin: 2% 0% 2% 4%;
}

img.zoom {
    transition: transform 3s ease;
    max-width: 560px;
    max-height: 100%;
  }
  
img.zoom:hover {
    transform: scale(1.2);
  }

img.float-left {
    margin: 1% 4% 5% 0;
    float: left;
}

.inactive {
    visibility: hidden;
}

.name {
    padding-left: 1.5em;
}

.cert {
    display: inline-block;
    background-color: white;
    position: relative;
    z-index: 1;
}

.lens,
.horizontalLens {
    height: auto;
    width: 1em;
    cursor: pointer;
 /*   position: relative;
    z-index: 1;*/
    right: -1em;
    top: -0.15em;
    z-index: 1;
}

.mini,
.horizontal {
    display: none;
    height: auto;
    width: 1.3em;
    transition: transform 1s ease-in-out;
    position: relative;
    left: -1.35em;
    z-index: 9;
    opacity: 1;
    pointer-events: none;
}

.mini.enlarged {
    transform:  translateY(0em) translateX(-15em) scale(22);
    transform-origin: bottom;
    display: block;
    background-color: white;
    opacity: 1;
    position: relative;
    z-index: 10;
    cursor: pointer;
    pointer-events: none;
}

.horizontal.enlarged {
    transform:  translateY(9em) translateX(-10em) scale(18);
    transform-origin: bottom;
    display: block;
    background-color: white;
    opacity: 1;
    position: relative;
    z-index: 10;
    cursor: pointer;
    pointer-events: none;
}

.projects,
.hobby {
    transition: transform 0.5s ease-in;
    transform: translateX(2em);
}

.content,.projects {
    margin: 4em 8vw;
}


.projects.visible,
.hobby.visible {
    transform: translateX(0);
}

#contactForm {
    margin: 4em 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 20em; 
}

textarea {
    margin-bottom: 2em;
    width: 30em;
    height: 8em;
}

label {
    align-content: center;
    justify-content: center;
}







@media (max-width: 880px) {
    img.hobby,
    img.float-left {
        display: block !important;
        margin: 0 auto;
        clear: both;
        float: none;
        margin-top: 2em;
        margin-bottom: 4em;
        transition: none;
    }

    .zoomDiv,
    .left {
        display: block;
        float: none !important;
        margin: 4% auto !important;
        transition: none;
    }




    .projects,
    .hobby {
        transition: none;
        transform: none;
        margin-bottom: 2em;
        margin-top: 2em;
    }

}

@media (max-width: 768px) {
    #about,
    .content,
    .navbar,
    .fs-3,
    #mydata {
    font-size: 1rem;
}
    
    #mycard {
        flex-direction: column;
        width: auto;
        height: auto;
        transition: none;
        opacity: 1;
    }

    #myfoto,
    #mydata {
        margin-right: 0;
        margin-bottom: 5em;
        background-color: white;
        transition: none;
        transform: none;
        opacity: 1;
    }

    #intro {
        transition: none;
        opacity: 1;
    }

    #name {
        margin-top: 1em;
    }

    .icons {
        width: 90vw;
    }

    #about {
        margin-top: 20em;
    }

    .event,
    .date,
    .description,
    .des {
        display: block;
        transition: none;
        transform: none;
        margin: 2em 0 1em;
        width: 80vw;
        text-align: center;
    }

    .description,
    .des {
        margin: 0;

    }

    .date {
        margin-top: 4em;
    }

    .stack {
        margin: 1em 2em;
        padding: 0.5em 0.5em;
        min-width: 10em;
    }

    img.hobby,
    img.proj {
        display: block;
        margin: 2% auto;
        clear: both;
        float: none;
        max-width: 80%;
        max-height: auto;
    }

    .dot {
        margin-left: 50%;
        margin-top: 0.5em;
        width: 0.2em;
        height: 0.2em;
    }

    #lang,
    #soft {
        text-align: center;
    }

    .skills-list {
        padding: 0;
    }

    li {
        list-style-type: none;
    }

    li.dotted {
        list-style-type: inherit;
    }

    .mini.enlarged {
        transform:  translateY(0em) translateX(-3em) scale(15);
    }

    .horizontal.enlarged {
        transform:  translateY(9em) translateX(-3em) scale(15);
    }


}